/* Add your own styles */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    color: #000000;
    text-align: center;
    margin-top: 20px;
}

p {
    color: #666;
    line-height: 1.6;
    margin: 20px;
}

header {
    background-color: grey;
    padding: 10px 0;
}

div {
    width: 80%;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

#controls{
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#result{
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

#result table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

#result table th {
  color: black;
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

#result table td {
  border: 1px solid #000000;
  padding: 10px;
}

#result table tr:nth-child(even) {
  background-color: #f2f2f2;
}
