/* Add your own styles */
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    color: #000000;
    text-align: center;
    margin-top: 20px;
}

p {
    color: #666;
    line-height: 1.6;
    margin: 20px;
}

header{
    margin-top: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
}

div {
    width: 80%;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

#controls{
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#result{
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}